requests
pandas
python-dotenv
tqdm
logging
pathlib
typing
dataclasses
whoosh
streamlit
plotly
wordcloud
matplotlib
ftfy
unicodedata
emoji
torch
transformers
datasets
huggingface_hub
tokenizers
sentence-transformers
sentencepiece
pyabsa
scikit-learn
scipy
nltk
spacy
openpyxl
protobuf==3.20.3
accelerate
